{% load i18n %}

<div class="box">
    <span style="font-size: 1.5rem">{% trans 'Revenue' %}</span>
    <br>
    <strong>
        <span style="font-size: 2rem" id="total_sum"></span>
    </strong>
    <div id="order_chart"></div>
</div>

{#Keep the variable names unique, so they don't conflict with other dashboard modules...#}
<script>
    var order_options = {
        series: [{
            data: []
        }],
        chart: {
            type: 'line',
            height: 80,
            sparkline: {
                enabled: true
            },
        },
        stroke: {
            curve: 'smooth',
            width: 6
        },
        yaxis: {
            min: 0
        },
        colors: ['#ff147d'],
        tooltip: {
            theme: 'dark',
            x: {show: false},
            y: {title: {formatter: (val) => ""}}
        },
        grid: {
            padding: {
                top: 24,
                bottom: 10
            }
        }
    };

    var order_chart = new ApexCharts(document.querySelector("#order_chart"), order_options);
    order_chart.render();
    let totalSumDiv = document.getElementById("total_sum");

    function loadSalesInfo(date_from = '', date_to = '') {
        let params = {"date_from": date_from, "date_to": date_to};
        let query = new URLSearchParams(params);
        let url = "{% url 'api:statistics:order' %}?" + query.toString();
        fetch(url).then(function (response) {
            return response.json();
        }).then(function (data) {
            let info = data.data;
            let order_data_arr = [];
            for (let i = 0; i < info.length; i++) {
                order_data_arr.push(info[i].total_sum);
            }
            order_chart.updateSeries([{
                data: order_data_arr
            }]);
            totalSumDiv.innerText = order_data_arr.reduce((a, b) => a + b, 0) + " c.";
        });
    }
</script>